body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('background/MS\ \(2\).png'); 

}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.heading {
    margin-top: 0;
}

.calculator {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}


#result {
    font-size: 24px;
     margin: 0.2rem;
    
    border: 1px solid #ccc;
    border-radius: 3px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.number {
    background-color: #f4f4f4;
}

.operator {
    background-color: #e0e0e0;
}

.clear {
    background-color: #ff9999;
    color: #fff;
}

.calculate {
    background-color: #66cc66;
    color: #fff;
}
